<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.lchpatners.shadal"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="ANDROID.PERMISSION.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".InitializationActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CampusSelectionActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_info"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lchpatners.shadal.RestaurantActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="@string/kakao_host"
                    android:scheme="@string/kakao_scheme"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".FlyerActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_flyer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SeeMoreActivity"
            android:label="@string/title_activity_see_more"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lchpatners.shadal.MainActivity"/>
        </activity>
        <activity
            android:name=".RestaurantActivity"
            android:label="@string/title_activity_restaurant"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lchpatners.shadal.MainActivity"/>
        </activity>
        <activity
            android:name=".RestaurantSuggestionActivity"
            android:label="@string/title_activity_restaurant_suggestion"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lchpatners.shadal.MainActivity"/>
        </activity>
        <activity
            android:name=".RSbyUserActivity"
            android:label="@string/title_activity_rsby_user"
            android:parentActivityName=".RestaurantSuggestionActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lchpatners.shadal.RestaurantSuggestionActivity"/>
        </activity>
        <activity
            android:name=".RSbyOwnerActivity"
            android:label="@string/title_activity_rsby_owner"
            android:parentActivityName=".RestaurantSuggestionActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lchpatners.shadal.RestaurantSuggestionActivity"/>
        </activity>
        <activity
            android:name=".RecommendActivity"
            android:label="@string/title_activity_recommend"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lchpatners.shadal.MainActivity"/>
        </activity>
        <activity
            android:name=".RestaurantCorrectionActivity"
            android:label="@string/title_activity_restaurant_correction"
            android:parentActivityName=".MenuListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lchpatners.shadal.MenuListActivity"/>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key"/>

        <activity
            android:name=".RequestActivity"
            android:label="@string/title_activity_request"
            android:parentActivityName=".SeeMoreActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lchpatners.shadal.SeeMoreActivity"/>
        </activity>
        <activity
            android:name=".RSbyUserPopUpActivity"
            android:label="@string/title_activity_rsby_user_dialog"
            android:parentActivityName=".RSbyUserActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lchpatners.shadal.RSbyUserActivity"/>
        </activity>
        <activity
            android:name=".RCPopUpActivity"
            android:label="@string/title_activity_rcpop_up">
        </activity>
    </application>

</manifest>
